{% extends 'base.html' %}

{% block content %}
{% if orders %}
    <h1>Your Cart</h1>
    <ul>
        {% for order in orders %}
            <h2>Order to {{ order.customer }}</h2>
            <ul>
                {% for item in order.items.all %}
                    <li>{{ item.product.name }} - {{ item.quantity }} - ${{ item.price }}</li>
                {% endfor %}
            </ul>
            <p>Total order cost: ${{ order.get_total_cost }}</p>
        {% endfor %}
    </ul>
    <a href="{% url 'checkout' %}"><button> Payment </button></a>
    <a href="{% url 'reset_cart' %}"><button> Clear Cart </button></a>
{% else %}
    <p>Your cart is empty.</p>
{% endif %}

<a href= "{% url 'home' %}"> <button> home </button></a>
{% endblock %}

{% comment %} {% extends 'base.html' %}

{% block content %}
    <h2>Shopping Cart</h2>

    {% if cart.items.all %}
        <ul>
            {% for item in cart.items.all %}
                <li>{{ item.product.name }} {{ item.product.model}} - Quantity: {{ item.quantity }}</li>
            {% endfor %}
        </ul>

        <p>Total: ${{ cart.get_cart_total }}</p>

        <form method="post" action="{% url 'checkout' %}">
            {% csrf_token %}
            <button type="submit">Payment</button>
        </form>

        <form method="post" action="{% url 'reset_cart' %}" style="margin-top: 10px;">
            {% csrf_token %}
            <button type="submit">Reset Cart</button>
        </form>
    {% else %}
        <p>Your cart is empty.</p>
    {% endif %}
<a href= "{% url 'home' %}"> <button> Back </button></a>
{% endblock %} {% endcomment %}